In [89]:
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [90]:
dias_retroativos = 30
tensao_nominal = 127

In [91]:
fim = datetime.now()
inicio = fim - timedelta(days=dias_retroativos)
timestamps = pd.date_range(start=inicio, end=fim, freq='H')
horas = len(timestamps)
tempo = np.arange(horas)

/tmp/ipykernel_12524/650478712.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  timestamps = pd.date_range(start=inicio, end=fim, freq='H')

In [100]:
horas

721

In [92]:
variacao_aleatoria = np.random.normal(0, 3, horas)
padrao_diario = 5 * np.sin(2 * np.pi * tempo / 24)

In [93]:
eventos_extremos = np.zeros(horas)
n_eventos = max(1, int(horas * 0.05))

for _ in range(n_eventos):
    inicio_evento = np.random.randint(0, horas - 1)

    duracao = int(np.random.normal(2, 1))
    duracao = max(1, min(18, duracao))
    fim_evento = min(inicio_evento + duracao, horas)

    if np.random.random() < 0.6:
        magnitude = -np.random.uniform(20,40)
    else:
        magnitude = np.random.uniform(15,30)

    eventos_extremos[inicio_evento:fim_evento] = magnitude

In [94]:
tensao_final = tensao_nominal + variacao_aleatoria + padrao_diario + eventos_extremos

In [98]:
pd.DataFrame({
    'timestamp': timestamps,
    'tensão': tensao_final
})

                     timestamp      tensão
0   2025-09-14 21:55:43.863109  126.539860
1   2025-09-14 22:55:43.863109  125.398693
2   2025-09-14 23:55:43.863109  130.103888
3   2025-09-15 00:55:43.863109  133.219288
4   2025-09-15 01:55:43.863109  126.756930
..                         ...         ...
716 2025-10-14 17:55:43.863109  119.985542
717 2025-10-14 18:55:43.863109  118.167116
718 2025-10-14 19:55:43.863109  121.069206
719 2025-10-14 20:55:43.863109  126.176633
720 2025-10-14 21:55:43.863109  125.073471

[721 rows x 2 columns]